
<html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Disability in the Digital World: How Representation Varies Across Cultures and Languages</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  {% include "navbar.html" %}

  <h1 style = "text-align: center;">Disability in the Digital World: How Representation Varies Across Cultures and Languages</h1>
  <h3 style = "padding: 30px">Section 5: Annotated Bibliography</h3>

  <div style="padding: 30px;">
    <ul>
      <p>
        Shakespeare, T. (2005). Disability studies today and tomorrow. Sociology of Health & Illness, 27(1), 138–148. https://doi.org/10.1111/j.1467-9566.2005.00435.x
      </p>
      <p>	The main idea of this paper was to outline previous and recent texts on disability studies and how they have changed through time. Based on one of the books used in his research, Tom Shakespeare summarizes that from 1990 to the early 2000s, there has been little progress for differently-abled people. As Shakespeare outlines other books, he claims that these texts argue that there still is little progress in activism and in disability studies. I might use this source for general background information for my research. 
  </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Allison, L., & Strydom, A. (2009). Intellectual disability across cultures. Psychiatry, 8(9), 355–357. https://doi.org/10.1016/j.mppsy.2009.06.008

      </p>
      <p>
	The main argument of this paper was to provide an overview on cultural influence on people with intellectual disabilities. The author’s point of view was that negative perspectives or beliefs towards differently-abled people can cause double-discrimination and diagnostic overlooking. The article offers a solution to this problem: addressing cultural barriers and improving relationships with caregivers and professionals. I would use this source for specific background information since it outlines a few examples on cultural views and how they affect how people are diagnosed and treated. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>Ferguson, P. M., & Nusbaum, E. (2018). Disability Studies: What is it and what Difference Does it Make? - Philip M. Ferguson, Emily Nusbaum, 2012. Sage Journals, 37(2). https://doi.org/10.1177/154079691203700202


      </p>
      <p>
	The main point of this paper was how the field “disability studies” is defined and what its role is. Ferguson and Nusbaum, the authors of this article, outlined core concepts of disability studies, stating that this field should be interdisciplinary, values-based, foundational (meaning it also informs us how to define other categories of human difference), and participatory. I might use this source for background information because it outlines different aspects of disability studies which I could use throughout my research. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Martz, E., Strohmer, D., Fitzgerald, D., Daniel, S., & Arm, J. (2009). Disability prototypes in the United States and the Russian Federation: An international comparison. Rehabilitation Counseling Bulletin, 53(1), 16–26. https://doi.org/10.1177/0034355208329357

      </p>
      <p>
This source argued the difference between US and Russian disability prototypes and attitudes towards certain disabilities: hearing impediments, AIDS, and physical impairment. The main distinction between the attitudes of the US and Russia was that Russia focuses more on the negative aspects of the disability. I found this article very interesting because of its cross cultural comparison between two cultures that I am familiar with. I would use this in my research because of its relevancy to my topic and its analysis of representation. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Manchaiah, V., Danermark, B., Ahmadi, T., Tomé, D., Zhao, F., Li, Q., Krishna, R., & Germundsson, P. (2015). Social representation of hearing loss: Cross-cultural exploratory study in India, Iran, Portugal, and the UK. Clinical Interventions in Aging, 10, 1857–1872. https://doi.org/10.2147/CIA.S91076

      </p>
      <p>
	This source outlined the differences in attitude towards hearing loss in different cultures. For instance, India is more focused on the opportunities for treatment rather than the other cultures, who focus more on the negative aspects of hearing loss such as difficulties communicating. Additionally, the UK, for instance, views hearing loss as a “disability” which can lead to more stigma around people who experience hearing loss. I would use this in my research because of how it compares different cultures, and this article exposed me to new cultures that I do not have personal experiences with. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Gammeltoft, T. M. (2008). Childhood disability and parental moral responsibility in northern Vietnam: Towards ethnographies of intercorporeality. Journal of the Royal Anthropological Institute, 14(4), 825–842. https://doi.org/10.1111/j.1467-9655.2008.00533.x

      </p>
      <p>
	This article was incredibly interesting because Gammeltoft, the author, interviewed around 30+ families who have at least one member who has a disability and how their lives are impacted. Additionally, he also spoke to each individual with a disability. What was very striking to me was that some of the disabilities were hardly noticeable, according to Gammeltoft, yet those families had the same reaction as families with a member who was visibly disabled. Near the end of this article, Gammeltoft also analyzed important aspects of North Vietnamese culture, such as Buddhism and the value of working, and how it influences peoples’ view on disabilities. I will be using this source in my research because it not only discusses personal experiences in a culture that I am interested in, but also how the values of a culture influence representation and taxonomy. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Díaz-Venegas, C., Reistetter, T. A., & Wong, R. (2018). Differences in the Progression of Disability: A U.S.–Mexico Comparison. The Journals of Gerontology: Series B, 73(5), 913–922. https://doi.org/10.1093/geronb/gbw082

      </p>
      <p>
	This source outlines an experiment that collected data from both American and Mexican citizens with respect to physical and mental limitations as they age. The article claims that socio-economic and demographic factors that are specific to each country affect the respective groups of citizens over the age of 65. I think that this source would be good to use as preliminary background research into my specific cross-cultural research because of how it outlines the differences between the two countries, but does not delve deeper into why the differences occur. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Realo, A., & Allik, J. (1999). A Cross-Cultural Study of Collectivism: A Comparison of American, Estonian, and Russian Students. The Journal of Social Psychology, 139(2), 133–142. https://doi.org/10.1080/00224549909598367

      </p>
      <p>
	This source conducted an experiment to determine the difference, if any, in collectivism in American, Estonian (ethnically Russian and Estonian), and Russian cultures. They collected their data by asking students from these groups to write “I am…” statements in a single theme (ie: family, occupation, etc). The authors deduced that Russian students in Moscow were the most collectivist, the ethnically Russian Estonians were actually the least collectivist, and the American students were in the middle. Although this cross-cultural study also compared Russian and American culture to Estonian culture, I would use this source in my research because it outlines the differences in American and Russian culture. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Vandello, J. A., & Cohen, D. (1999). Patterns of individualism and collectivism across the United States. Journal of Personality and Social Psychology, 77(2), 279–292. https://doi.org/10.1037/0022-3514.77.2.279

      </p>
      <p>
	This source outlined the differences within the United States and made inferences, based on the history and traditions, on how collectivist or individualist regions would be. They found that Hawaii was the most collectivist and Montana was the most individualist. I think that I would use this as background information to my research or as evidence for possible limitations in my cross-cultural study. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Gregory, G. D., & Munch, J. M. (1997). Cultural values in international advertising: An examination of familial norms and roles in Mexico. Psychology & Marketing, 14(2), 99–119. https://doi.org/10.1002/(SICI)1520-6793(199703)14:2%253C99::AID-MAR1%253E3.0.CO;2-I

      </p>
      <p>
	This source examines the familial norms and role as well as the prevalence of collectivism in Mexico and determines the importance of cultural values in international advertising. The study found that product advertisements that were tailored to collectivist familial norms were more effective than international ones that solely translated. Although advertisements are not part of my research, I found it interesting how this article connected collectivism to familial values specifically in Mexico. So, I would use this source in my research because of the values it outlines and their importance in Mexican culture, generally. 

      </p>
    </ul>
  </div>


  <div style="padding: 30px;">
    <ul>
      <p>
Shkodriani, G. M., & Gibbons, J. L. (1995). Individualism and Collectivism among University Students in Mexico and the United States. The Journal of Social Psychology, 135(6), 765–772. https://doi.org/10.1080/00224545.1995.9713979

      </p>
      <p>
	This source examined individualism and collectivism among American and Mexican university students. A questionnaire with a set of statements was sent to American and Mexican students asking them to rank from 0-5 how much they agree with these statements. It was deduced that American students were more individualist than Mexican students who were on average more collectivist. This article broke down the groups of statements–such as family, authority, neighbor relationships–and how they reflected the values of each culture. For instance, Mexican culture values, on average, emphasize closeness of a family, taking care of older generations, and cooperation, and American cultural values emphasize separation of self and competition. I will use this in my research to indicate why I chose Mexican and American cultures (and their differences) as well as what values, such as collectivist or individualist, can influence representations of people with disabilities in the media. 

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Graham, J., Haidt, J., & Nosek, B. A. (2009). Liberals and conservatives rely on different sets of moral foundations. Journal of Personality and Social Psychology, 96(5), 1029–1046. https://doi.org/10.1037/a0015141

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Triandis, H. C. (2015). Collectivism and Individualism: Cultural and Psychological Concerns. International Encyclopedia of the Social & Behavioral Sciences, 4, 206–210. http://dx.doi.org/10.1016/B978-0-08-097086-8.24008-7

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Davis, L. J. (2016). The Disability Studies Reader (5th ed.). https://www.routledge.com/The-Disability-Studies-Reader/Davis/p/book/9781138930230

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
CDC. (2025, April 7). Disability and Health Overview. Disability and Health. https://www.cdc.gov/disability-and-health/about/index.html

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Brooks, E., & Bates, M. (n.d.). Introducing Developmental Disability Through a Disability Studies Perspective. CUNY Academic Commons. Retrieved October 12, 2025, from https://introducingdevelopmentaldisability.commons.gc.cuny.edu/section-2-developmental-disability-as-a-social-construct/

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Awad, E., Dsouza, S., Kim, R., Schulz, J., Henrich, J., Shariff, A., Bonnefon, J.-F., & Rahwan, I. (2018). The Moral Machine experiment. Nature, 563(7729), 59–64. https://doi.org/10.1038/s41586-018-0637-6

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Graham, J., Nosek, B. A., Haidt, J., Iyer, R., Koleva, S., & Ditto, P. H. (2011). Mapping the Moral Domain. Journal of Personality and Social Psychology, 101(2), 366–385. https://doi.org/10.1037/a0021847

      </p>
    </ul>
  </div>

  <div style="padding: 30px;">
    <ul>
      <p>
Staples, J., & Mehrotra, N. (2016). Disability Studies: Developments in Anthropology. In S. Grech & K. Soldatic (Eds.), Disability in the Global South: The Critical Handbook (pp. 35–49). Springer International Publishing. https://doi.org/10.1007/978-3-319-42488-0_3

      </p>
    </ul>
  </div>

  {% include "footer.html" %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  
</body>
</html>
