
<html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Disabilities Across Cultures</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  {% include "navbar.html" %}

  <h1>Male Dog Bites in NYC - Veronique Jeneste</h1>
  <h5>This investigation explores the number dog bites in each borough in years 2015 - 2023.</h5>

  <div>
    <ul>
      <li>Context: The NYC Department of Health and Mental Hygiene (DOHMH) compiled this data in order to determine whether the dog who caused the bite is healthy to avoid unnecessary rabies shots. The NYC DOHMH requires for all dog bites to be reported in order to be able to investigate the accident and ensure safety of both the dog and the person. Lastly, this data can also help the DOHMH prevent the spread of certain diseases transmitted by dogs. Additionally, this project demonstrates the number of reported dog bites in the 5 boroughs of New York City and allows the audience to make comparisons by year and by borough.</li>
    </ul>
  </div>
  

  <div>
    <ul>
      <li>This prototype is for the page that contains the line graph that will outline the overall change in number of bites every year for each borough. This graph allows the viewer to compare the boroughs to each other and the progression of the amount of bites in one single borough.</li>
      <li>Feedback: Some of the feedback that I have recieved for this prototype is to create more tick marks so that the viewer can read the points on the line graph better. Additionally, someone recommended that I should delete the end tags with the boroughs and just have a legend in order to make more room for the unit tick marks to not overwhelm the viewer. Lastly, I was recommended to change some of the colors, specifically red and green, so that the line graph and the ability to compare lines is accessible to all.</li>
      <li>Takeaway: It is interesting to see all of the boroughs during the year 2015-2023 as a comparison. I initially predicted that Staten Island would have less dog bites than the other boroughs; however, it was fascinating to see the values of all the other boroughs and how Manhattan had the most reported male dog bites almost every year.</li>
    </ul>
  </div>



  <div>
    <ul>
      <li>This prototype is for the specific yearly pages that will show a map of the 5 boroughs of NYC in a given year. All values, which are the numbers dog bites in each borough, are represented with color. This allows for the viewer to compare the values for each borough in one specific year.</li>
      <li>Feedback: Some of the feedback that I recieved for this prototype is to make sure to isolate the NYC boroughs and delete New Jersey and the Airports. This is to concentrate all the data points and make it more accessible to the viewer by not overwhelming them.</li>
      <li>Takeaway: I found it to be easiest to demonstrate the number of dog bites each year from each borough in a map and be able to compare it through color as well as through numbers. I think that this makes it more accessible for more people because they would not need to compare numbers, but just different shadings of blue.</li>
    </ul>
  </div>



  {% include "footer.html" %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  
</body>
</html>
