
<html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Disability in the Digital World: How Representation Varies Across Cultures and Languages</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  {% include "navbar.html" %}

  <h1>Disability in the Digital World: How Representation Varies Across Cultures and Languages</h1>
  <h3>Section 2: Introduction</h3>

  <!-- Paragraph 1 -->
  <div>
    <ul>
      <p> 	
        Imagine a girl who has autism living from an immigrant Russian family in the United States. 
        In Russian culture, it is custom to aid immediate family and sometimes inhibit members who may not 
        be “socially capable” to self-sustain and keep them under care of another family member. However, in 
        the United States, there are many initiatives such as schools and volunteering non-profits that attempt 
        to provide people with disabilities the opportunity to self-determine and self-sustain their life. The 
        contrast between those two cultures clashing within one household begs the question as to why they assume 
        responsibility for people with disabilities in different ways. This research poses this question. 
      </p>
    </ul>
  </div>
  
  <!-- Paragraph 2 -->
  <div>
    <ul>
      <p>
        Individualist and collectivist cultures differ on the goal and values of its society and whether its members 
        emphasize individuality or community. (Triandis, 2015) For instance, individualistic cultures usually expect 
        its members to focus on themselves and possibly their immediate family, and there aren’t many values that tie 
        the individual to the society. Often, these individuals are encouraged to break the status quo. (Vandello & Cohen, 1999) 
        For the United States, its individualistic characteristics are that it is a capitalist country, focused on competition, 
        and there is emphasis on pushing the boundaries of social norms. (Shkodriani & Gibbons, 1995) This may be the case 
        because of the myriad cultures present in the United States. For collectivist cultures, its members are expected to 
        focus on immediate family as well as extended family, its surrounding community or the state over the individual. Often, 
        the needs of the family or community are above the individual and cohesion is greatly valued. (Triandis, 2015)
      </p>
    </ul>
  </div>


  <!-- Paragraph 3 -->
  <div>
    <ul>
      <p>
        The Moral Foundations Theory suggests that human culture is based on five groups of innate moral “foundations” that affect 
        a society’s norms and values. This theory was developed by Jonathan Haidt and Jesse Graham who state that different cultures, 
        using these five values, build narratives, institutions, and ethics, thus affecting what we perceive as “right” and “wrong.” 
        These different values and combination of said values create the basis on moral decision making, and therefore overarching 
        values within a culture and are demonstrated in the diversity of moral beliefs we see today. (Awad et al., 2018; Graham et al., 
        2009, 2011) These morals are categorized as Care and Harm; Fairness and Cheating; Loyalty and Betrayal; Authority and Subversion; 
        and Purity and Sanctity. (Awad et al., 2018) Individualist cultures often emphasize the individualizing values: Care/Harm and 
        Fairness/Cheating values. In contrast, collectivist cultures focus on the binding values: Loyalty/Betrayal, Authority/Subversion, 
        and Purity/Sanctity moral foundations. (Awad et al., 2018) For instance, cultures that focus on loyalty and respect to authority, 
        two binding values in the Moral Foundations Theory are considered collectivist, stressing the importance of a community. Theories 
        of individualist-collectivist cultural differences complement moral foundations theory insofar as different moral foundations are 
        endorsed to differing degrees across individualist and collectivist cultures. They provide the theoretical basis for our research 
        here. 
      </p>
    </ul>
  </div>


  <!-- Paragraph 4 -->
  <div>
    <ul>
      <p>
        Disability, by the Centers of Disease Control and Prevention, is defined as a physical or mental impairment that limits a person’s 
        participation in certain activities and interaction with the world around them. (CDC, 2025) Although there are definitions and 
        certain diagnostics for disabilities medically, society also creates certain social definitions and establishes groups that can 
        help or inhibit differently-abled people socially. As Lennard J. Davis describes it, social norms are actions that are expected of 
        an individual of a society. Additionally, the concept of the “average person” is the ideal position that someone should be, and 
        anyone who strays from that is not average. Therefore, extremes can either be looked upon as “good” and others as “bad.” (Davis, 
        2016) Thus, society’s definition of the “ideal person” can differ in each culture or country, legally, socially, and medically and 
        outcast other groups as not the social idea. (Brooks & Bates, n.d.) In this research, the effects of social values, and therefore 
        the establishment of social construct, were examined in the media, specifically news headlines. Different emphases on moral 
        foundations can create different social definitions of disability and define the responsibility of its citizens to help. For 
        instance, a collectivist culture that focuses on loyalty as a moral value can emphasize familial obligation to take care of the 
        person with the disability. 
      </p>
    </ul>
  </div>


  <!-- Paragraph 6 -->
  <div>
    <ul>
      <p>
        Mexican, American, and Russian cultures were chosen in how they represent and refer to disabilities based on their values, or 
        moral foundations. Mexico is a good culture to compare because of how it’s more collectivist from the United States, which could 
        demonstrate different moral values. Mexico therefore can also demonstrate different constructions of disabilities and the attitudes 
        towards the differently-abled. Additionally, there is enough recent data that is accessible in Spanish in a corpus, especially 
        pertaining to news headlines, to gather and compare to the United States. I think that American culture would be interesting to 
        dive deeper into because of its individualistic values and heavy emphasis on competition and individual success in comparison to 
        Mexico and Russia. The US will most likely have the most collectable and accessible data tailored for this research because it has 
        more experiences with open discussion of topics around disability and the field of disability studies. Russia would also be an 
        interesting cultural viewpoint in this research project because of its different cultural, collectivist values from the US. In 
        comparison to Mexico’s values of family and a welcoming, tight-knit community, Russia is more focused on national pride, more 
        rigid traditions, strength, and respect or submission to higher authority. Additionally, because of the technological advancements 
        and population size of Russia, there is ample data to gather.  
      </p>
    </ul>
  </div>

  <!-- Paragraph 7 -->
  <div>
    <ul>
      <p>
        In summary, Mexican and Russian cultures are defined as more collectivist and the United States is more individualist. 
        (Gregory & Munch, 1997; Martz et al., 2009) However, Mexico and Russia are collectivist in different ways. Mexico emphasises 
        a collective within their own culture and bases many of its values off of familial obligation whereas Russia stresses loyalty and 
        subversion to the state. (Martz et al., 2009)
      </p>
    </ul>
  </div>

<p></p>
  <!-- Paragraph 8 -->
  <div>
    <ul>
      <p>
        The question that drove this research was whether collectivist or individualistic cultures predict different value representations 
        of disabilities in Russian, American, and Mexican news headlines. With new knowledge gathered from existing literature and experiments 
        on disabilities and collectivist and individualistic cultures, it seemed advantageous to compare multiple countries, on different parts 
        of the individualist to collectivist spectrum. By learning how such values impact social norms and expectations, I wondered what 
        differences there are in representation and sentiment towards disability in different cultures and languages, if any. 
      </p>
    </ul>
  </div>

  <p></p>
  <!-- Paragraph 9 -->
  <div>
    <ul>
      <p>
        In brief, dictionaries, or lists with specific terms, were found pertaining to disabilities and moral foundations in Spanish and 
        English. However, Russian dictionaries were not found, and therefore translated from the English dictionary using which was also 
        checked by a native speaker. These dictionaries were then cross-referenced with data sets of news headlines in each country with 
        the use of a coding language called R. The results of this data collection were numerical values of how often a headline had a 
        disability term and also a moral foundations term.  
      </p>
    </ul>
  </div>




  {% include "footer.html" %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  
</body>
</html>
