<footer>
    <text><strong>The data source used for this investigation: <a href="https://www.google.com/url?q=https://catalog.data.gov/dataset/dohmh-dog-bite-data&sa=D&source=editors&ust=1748615991949788&usg=AOvVaw3MGWjAJ29pWSiOOQlgDrnn">Data.gov</a>.</strong></text>
    <text><strong>This project is an investigation of the number of male dog bites in each borough of NYC. The data set is primarily used by the NYC Health Department to determine whether the dog was healthy ten days after the accident to avoid unnecessary rabies shots.</strong></text>
    <text><strong>The data is compiled by text, call (to phone number 311), fax, or DOHMH Animal Bite Unit.</strong></text>
</footer>