body{
    background-color: #b1c4ef;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
  }
  
  svg{
    border-style: solid;
    border-width: 1px;
  }
  

  footer {
    position: bottom;
    bottom: 100;
    width: 100%;
    font-weight: 450;
  }

  .navbar-brand {
    font-weight: bold;
  }
